# Локальная папка с провайдерами и модулями
.terraform/

# Локальные файлы состояния (если не используется Remote Backend)
*.tfstate
*.tfstate.*

# Файлы с секретными переменными
*.tfvars
*.tfvars.json
*.auto.tfvars

# Файлы логов
crash.log
*.log

# Локальные переменные окружения
.env
.terraformrc
terraform.rc

# Файл блокировки зависимостей
.terraform.lock.hcl

# SSH ключи (замени на свои конкретные имена файлов)
id_ed25519
id_ed25519.pub
*.pem
*.key

# Секретные JSON/файлы с токенами
*.json
