# --- Системные файлы ---
.DS_Store
Thumbs.db
desktop.ini

# --- OpenTofu / Terraform файлы ---
# Папка с загруженными провайдерами (весит много, скачивается через init)
.terraform/

# Файлы состояния (содержат пароли в открытом виде!)
*.tfstate
*.tfstate.*

# Файлы блокировки (чтобы не было конфликтов версий)
.terraform.lock.hcl

# --- Секреты и ключи ---
# Личные переменные с токенами и паролями
*.tfvars
*.tfvars.json
*.auto.tfvars

# Файлы конфигурации реестра
.terraformrc
terraform.rc

# SSH ключи
id_ed25519
id_ed25519.pub
*.pem
*.key
*.pub

# --- Логи и временные файлы ---
*.log
crash.log