---
- name: Install Clickhouse
  hosts: clickhouse
  ignore_errors: true
  pre_tasks:
    - name: Fix CentOS 7 EOL repositories
      become: true
      ansible.builtin.shell: |
        sed -i 's/mirrorlist/#mirrorlist/g' /etc/yum.repos.d/CentOS-*
        sed -i 's|#baseurl=http://mirror.centos.org|baseurl=http://vault.centos.org|g' /etc/yum.repos.d/CentOS-*
      ignore_errors: true

  roles:
    - clickhouse

- name: Install Vector
  hosts: vector
  roles:
    - vector-role

- name: Install Lighthouse
  hosts: lighthouse
  roles:
    - lighthouse-role