# Локальная папка провайдеров
**/.terraform/*
.terraform*

# Файлы состояния (содержат пароли и IP в открытом виде)
*.tfstate
*.tfstate.*

# Секретный файл с ID облака
personal.auto.tfvars

# Паспорт сервисного аккаунта (самое важное!)
authorized_key.json

# На всякий случай блокируем все файлы ключей, если они лежат в этой папке
*.pub
id_ed25519